.next
.next-verify*
.next-local
.next-run*
.hapos-next
.hapos-build*
.next-review
.artifacts
.vercel
node_modules
coverage
dist
dist-local
*.log
tsconfig.tsbuildinfo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
data/store.json
public/uploads/logos/*
!public/uploads/logos/.gitkeep
public/uploads/services/*
!public/uploads/services/.gitkeep
public/uploads/marketplace/*
!public/uploads/marketplace/.gitkeep
.vscode

/generated/prisma
